body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

nav > a {
  padding: 10px;
  background: grey;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  font-size: -1;
}

featured-property#figure {
    text-align: center;
    width: 800px;
}

details {
  display: block;
}

details#div {
  float: left;
}

div {
  display: inline-block;
  background-color: red;
  text-align: center;
  width: 25%;
}
