body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

nav > a {
  padding: 10px;
  background: grey;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section#featured-property p {
    width: 800px;
    text-align: center;
}

section#details {
  display: block;
  float: left;
}


div {
  text-align: center;
  display: inline-block;
  background-color: red;
  width: 25%;
}
