body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
    text-align: center;
}

nav > a {
  padding: 10px;
  background: grey;
}

figcaption {
  font-size: -1;
}

section#featured-property > p {
    text-align: center;
    width: 800px;
}

details {
  display: block;
}

div {
  float: left;
}
